<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testimonial Email Template</title>
</head>
<body>

<h1>Testimonial</h1>

<div>
    <span style="font-weight: bold;">By :</span>
    <span id="fullName" th:text="${fullName}">default full name</span>
</div>

<div><span style="font-weight: bold;">Sender e-mail :</span>  <span id="email" th:text="${email}">default email</span> </div>

<br>

<div style="display: flex; flex-direction: column;"><h3>Message :</h3>

    <div>"<span id="message" th:text="${message}">default message</span>"</div>

</div>

<br>

<div style="padding-bottom: 10px">
    <a th:href="@{'https://portfolio-5y9harmty-youssef-chahbounes-projects.vercel.app/acceptTestimonial' + '?fullName=' + ${fullName} + '&email=' + ${email} + '&message=' + ${message} }" th:text="@{'https://portfolio-5y9harmty-youssef-chahbounes-projects.vercel.app/acceptTestimonial' + '?fullName=' + ${fullName} + '&email=' + ${email} + '&message=' + ${message} }">Accept Link</a>
</div>

</body>
</html>