@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 244, 244, 244;
}

body {
 background: #F4F4F4;
}

@layer base {
  h1 {
    color:  #82ADEE;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
